<ul class="open-mic-list">
	<% (0..6).each do |i| %>
		<h2><%= Date::DAYNAMES[i].downcase %></h2>
		<% @open_mics.each do |open_mic| %>
			<% if open_mic.dow == i %>
				<li>
					<%= link_to open_mic.name + " | " + open_mic.city + ", " + open_mic.prov_state, open_mic %>
					<% if !open_mic.published %>
						not published
					<% end %>
				</li>
			<% end %>	
		<% end %>
	<% end %>
</ul>