<h1>Submit a New Open Mic</h1>
<h2>Fill out what you know and leave the rest blank.</h2>
<%= form_for(@open_mic) do |f| %>
	<%= render 'fields', :f => f %>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>