<h1>Welcome to Capo!</h1>
<hr>
<%= image_tag "iPhone-Splash.png" %>

<hr>

<p>
	Capo is an Open Mic Community Tool where audience members and players alike can find the latest entertainment!
</p>
<p>
	New to Capo? Be sure to become a member be signing up <%= link_to 'here', '/signup' %>.
</p>
<p>
	Know about an Open Mic that's not in our database, send us the information <%= link_to "here", "/open_mics/new" %>.
</p>
<p>
	We always welcome lots of feedback. Please send us your thoughts and suggestions <%= link_to "here", "/feedback" %>.
</p>
