
<%= image_tag "iPhone-Splash.png" %>

<hr>
<h1>Welcome to Capo!</h1>
<p>
	Capo is an Open Mic Community Tool where audience members and players alike can find the latest entertainment!
</p>

<p>
	We always welcome lots of feedback. Please send us your thoughts and suggestions <%= link_to "here", "/feedback" %>.
</p>
