<h1>Welcome to Capo!</h1>
<p>
	Capo is an Open Mic Community Tool where audience members and players alike can find the latest entertainment!
</p>

<p>
	We always welcome lots of feedback. Please send us your thoughts and suggestions <%= link_to "here", "/feedback" %>.
</p>

<% OpenMic.find_all_by_day_of_week("Tuesday").each do |open_mic| %>
     <%= open_mic.name %>
   <% end%>
