<h1>About Capo</h1>
<p>
	Capo (pronounced 'kay-po') is an Open Mic Community Tool.
</p>
<p>
	It is built on Ruby on Rails and jQTouch.
</p>
<p>
	Developed by Casey Li.
</p>
<p>
	<%= link_to "www.caseyli.com", "http://www.caseyli.com", :target => "_blank" %>
</p>
