<script type='text/javascript'>	
	/*
	 * timeHours
	 * takes in YYYY-MM-DDTHH:mm:ssZ and extracts HH:mm
	 */
	function timeHoursMins(utcString) {
		if (utcString == null) {
			return "unknown";
		}
		else {
			var hours = utcString.substring(11, 13);
			var mins = utcString.substring(14, 16);
			var ampm = "AM";
			if (hours > 12) {
				hours = hours - 12;
				if(hours < 10) {
					hours = "0" + hours;
				}
				ampm = "PM";
			}
			return hours + ":" + mins + " " + ampm;
		}
	}

	/*
	 * day of week
	 */
	function dayOfWeek(intDayOfWeek) {
		var dayOfWeek = "Unknown";
		switch (intDayOfWeek) {
			case 0:
				dayOfWeek = "Sunday";
				break;
			case 1:
				dayOfWeek = "Monday";
				break;
			case 2:
				dayOfWeek = "Tuesday";
				break;
			case 3:
				dayOfWeek = "Wednesday";
				break;
			case 4:
				dayOfWeek = "Thursday";
				break;
			case 5:
				dayOfWeek = "Friday";
				break;
			case 6:
				dayOfWeek = "Saturday";
				break;
		}
		return dayOfWeek;
	}
	
	/* 
	 * loadOpenMics
	 */
	function loadOpenMics(openMicsJson) {
		var sunday_list = "";
		var monday_list = "";
		var tuesday_list = "";
		var wednesday_list = "";
		var thursday_list = "";
		var friday_list = "";
		var saturday_list = "";
		var ihtml = "";
		jQuery.each(openMicsJson, function() {
			ihtml = "<li class='arrow'><a href='#' id='openmicLink' open_mic_id='" + this.open_mic.id + "'>" + this.open_mic.name + "</a></li>"
			switch (this.open_mic.dow) {
				case 0:
					sunday_list += ihtml;
					break;
				case 1:
					monday_list += ihtml;
					break;
				case 2:
					tuesday_list += ihtml;
					break;
				case 3:
					wednesday_list += ihtml;
					break;
				case 4:
					thursday_list += ihtml;
					break;
				case 5:
					friday_list += ihtml;
					break;
				case 6:
					saturday_list += ihtml;
					break;
			}
			ihtml = "<ul class='edgetoedge'>";
			ihtml += "<li class='sep'>sunday</li>" + sunday_list;
			ihtml += "<li class='sep'>monday</li>" + monday_list;
			ihtml += "<li class='sep'>tuesday</li>" + tuesday_list;
			ihtml += "<li class='sep'>wednesday</li>" + wednesday_list;
			ihtml += "<li class='sep'>thursday</li>" + thursday_list;
			ihtml += "<li class='sep'>friday</li>" + friday_list;
			ihtml += "<li class='sep'>saturday</li>" + saturday_list;
			ihtml += "</ul>";
		});
		$("#browse_body").html(ihtml);
				
		/* Clear Buttons to avoid flicker when entering another open mic info */
		$("#openmicinfo_actions").html(ihtml);
		
		$("#home").unmask();
		$("#homeloggedin").unmask();
	}
</script>