<!DOCTYPE html>
<html>
 	<head>
		<meta content="text/html; charset=UTF-8" http-equip="Content-Type">
	</head>
	<body>
		<p>Open Mic Submitted for <%= @open_mic.name %></p>
		<ul>
			<li><%= @open_mic.name %></li>
			<li><%= @open_mic.day_of_week %></li>
		</ul>
	</body>
</html>