<%= image_tag 'http://www.capoapp.ca/images/welcome_email_banner.png' %>
<h1>Welcome to Capo!</h1>
<p><%= @user.first_name %>,</p>
<p>Thank you for registering for Capo - an emerging Open Mic Community Website. We really appreciate your support!</p>
<p>We are currently in Beta so we highly value any feedback you may have.</p>
<p>Here are just some of the features currently available:</p>
<ul>
	<li>Browse Open Mics</li>
	<li>Find out information such as Day of Week, Time, Location, Host</li>
	<li>Choose to Attend or Not Attend an Open Mic</li>
	<li>See News Posted for Open Mics</li>
	<li>Submit New Open Mics</li>
	<li>iPhone Optimized View</li>
	<li>Host Accounts for Open Mic Hosts</li>
</ul>

<p>We are working hard to add a lot more features in the coming months based on your feedback.</p>

<p>Capo is intended for performers and spectators alike, so please spread the word.</p>

<p>If you have any suggestions, questions, or general feedback, please send it to us at our <%= link_to 'feedback page', 'http://www.capoapp.ca/feedback' %></p>

<p>Thank you again for all your support and we hope you enjoy the site!</p>

<p>Capo Staff</p>

